body {
    background-color: lightblue;
}

.topnav {
        overflow:hidden;
        background-color: darkblue;
        height: 60px;
}


.topnav a {
    float: left;

    background-color: white;
    color: black;
    text-align: center;

    padding-left: 25px;
    padding-right: 25px;

    padding-top: 25px;
    padding-bottom: 25px;

    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: darkcyan;
    color: white;
}
